<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>微風廣場後台</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">


    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <!-- <link rel="stylesheet" href="vendors/selectFX/css/cs-skin-elastic.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>



</head>

<body>
    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="admin.html"> <i class="menu-icon fa fa-dashboard"></i>人員管理</a>
                    </li>
                    <li>
                        <a href="member.html"> <i class="menu-icon fa fa-table"></i>會員管理</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <!-- <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div> -->
                        <!-- 
                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">5</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 3 Notification</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                <i class="fa fa-check"></i>
                                <p>Server #1 overloaded.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                <i class="fa fa-info"></i>
                                <p>Server #2 overloaded.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                <i class="fa fa-warning"></i>
                                <p>Server #3 overloaded.</p>
                            </a>
                            </div>
                        </div> -->

                        <div class="dropdown for-message">
                            <!-- <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-email"></i>
                                <span class="count bg-primary">9</span>
                            </button> -->
                            <!-- <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">You have 4 Mails</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/1.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jonathan Smith</span>
                                    <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/2.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jack Sanders</span>
                                    <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/3.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Cheryl Wheeler</span>
                                    <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-3" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/4.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Rachel Santos</span>
                                    <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">

                        <div>
                            <input type="button" value="登出" id='Submit'
                                style="border-radius: 8px; padding: 8px; background-color:#0080FF; color: white;"
                                onclick="Logout()">
                        </div>
                        <script>
                            function Logout() {
                                $.ajax({
                                    url: "https://breeze888.com/php/logout.php",
                                    success: function (result) {
                                        if (result) {
                                            window.location.href = "https://breeze888.com/login_backstage.php"
                                        }
                                        else {
                                            alert('登出失敗')
                                        }
                                    }
                                });
                            }
                        </script>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile</a>

                            <a class="nav-link" href="#"><i class="fa fa-user"></i> Notifications <span
                                    class="count">13</span></a>

                            <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>

                            <a class="nav-link" href="#"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>

                    <!-- <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="language" aria-haspopup="true"
                            aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language">
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->




        <div id="app">
            <v-app id="inspire">
                <v-data-table :headers="headers" :items="desserts" item-key="name" :search="search" sort-by="calories"
                    class="elevation-1" :loading="loading" show-expand>
                    <template v-slot:top :loading="loading">
                        <v-toolbar flat color="white">
                            <v-toolbar-title>公關資料</v-toolbar-title>
                            <v-divider class="mx-4" inset vertical></v-divider>
                            <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line
                                hide-details>
                            </v-text-field>
                            <v-spacer></v-spacer>
                            <!-- <v-dialog v-model="dialog" max-width="500px">
                                <template v-slot:activator="{ on }">
                                    <v-btn color="primary" dark class="mb-2" v-on="on">新增</v-btn>
                                </template>
                                <v-card>
                                    <v-card-title>
                                        <span class="headline">{{ formTitle }}</span>
                                    </v-card-title>

                                    <v-card-text>
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-menu v-model="showPicker" :close-on-content-click="false"
                                                        transition="scale-transition" offset-y full-width
                                                        max-width="290px" min-width="290px">
                                                        <template v-slot:activator="{ on }">
                                                            <v-text-field v-model="editedItem.date" label="日期"
                                                                persistent-hint readonly v-on="on">
                                                            </v-text-field>
                                                        </template>
                                                        <v-date-picker v-model="editedItem.date" no-title
                                                            @input="showPicker = false"></v-date-picker>
                                                    </v-menu>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-text-field v-model="editedItem.account" label="客戶帳號">
                                                    </v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="8">
                                                    <v-file-input v-model="editedItem.img" type="file" id="file"
                                                        label="圖片上傳" filled prepend-icon="mdi-camera">
                                                    </v-file-input>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-text-field v-model="editedItem.color" label="顏色">
                                                    </v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-text-field v-model="editedItem.size" label="尺寸">
                                                    </v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-text-field v-model="editedItem.num" label="數量">
                                                    </v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-text-field v-model="editedItem.price" label="單價">
                                                    </v-text-field>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="4">
                                                    <v-select v-model="editedItem.status" :items="items" label="狀態"
                                                        outlined></v-select>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="6">
                                                    <v-textarea v-model="editedItem.desc" solo name="input-7-4"
                                                        label="備註">
                                                    </v-textarea>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-card-text>

                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" text @click="save">儲存</v-btn>
                                        <v-btn color="blue darken-1" text @click="close">取消</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog> -->
                        </v-toolbar>
                    </template>
                    <template v-slot:item.img="{ item }">
                        <v-img :src="item.img" min-width="30" max-width="60"/>
                    </template>
                    <template v-slot:expanded-item="{ item }">
                        <td :colspan="headers.length" style="font-size: 16px;">
                            密碼:{{ item.pwd }}<br>Line:{{ item.line }}<br>Wechat:{{ item.wechat }}<br>經紀公司:{{ item.company }}<br>服務:{{ item.level }}<br>特殊:{{ item.service }}<br>通告價位:{{ item.sprice }}元<br>伴遊價位:{{ item.aprice }}元
                            <br>包養價位:{{ item.bprice }}元/月<br>影片網址:<a
                                :href="item.video">{{ item.video }}</a><br>註冊日期:{{ item.date }}<br>最後上線日期:{{ item.edate }}
                        </td>
                    </template>
                    <template  v-slot:item.actions="{ item }">
                        <!-- <v-icon small class="mr-2" @click="editItem(item)">
                            mdi-pencil
                        </v-icon> -->
                        <v-icon small @click="deleteItem(item)">
                            mdi-delete
                        </v-icon>
                        <!-- <v-switch v-model="switch1" :label="`Switch 1: ${switch1.toString()}`"></v-switch> -->
                    </template>
                    <template v-slot:no-data>
                        <v-btn color="primary" @click="initialize">Reset</v-btn>
                    </template>
                    <template v-slot:item.test="{ item }">
                        <v-switch v-model.number="item.OnSale" :label="`${(item.OnSale==1) ? '上架中' : '已下架' }`" @change="test(item)"></v-switch>                   
                    </template>
                    <template v-slot:item.open="{ item }">
                        {{ (item.open==1) ? "登入中":"下線中"}}
                    </template>
                </v-data-table>
            </v-app>
        </div>


        <!-- Right Panel -->


        <script src="vendors/jquery/dist/jquery.min.js"></script>
        <!-- <script src="vendors/popper.js/dist/umd/popper.min.js"></script> -->
        <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script>
            $(document).ready(function () {
                $.ajax({
                    url: "https://breeze888.com/php/isLogin.php",
                    success: function (result) {
                        if (result == 'true') {

                        }
                        else {
                            window.location.href = "https://breeze888.com/login_backstage.php"
                        }
                    }
                });
            })
        </script>
        <script>

            new Vue({
                el: '#app',
                vuetify: new Vuetify(),
                data: () => ({
                    search: '',
                    loading: false,
                    dialog: false,
                    showPicker: false,
                    headers: [
                        {
                            text: 'ID',
                            align: 'start',
                            sortable: false,
                            value: 'id',
                        },
                        { text: '編號', value: 'randid' },
                        { text: '帳號', value: 'account' },
                        { text: '名字', value: 'name' },
                        { text: '暱稱', value: 'nickname' },
                        { text: '本人照片', value: 'img' },
                        { text: '年紀', value: 'age' },
                        { text: '身高', value: 'height' },
                        { text: '體重', value: 'size' },
                        { text: '性別', value: 'gender' },
                        { text: '地區', value: 'place' },
                        { text: '刪除', value: 'actions' },
                        { text: '上下架', value: 'test' },
                        // { text: '上下架', value: 'OnSale', sortable: false },
                        { text: '登入狀態', value: 'open' },
                        { text: '顯示更多', value: 'data-table-expand' }

                    ],
                    desserts: [],
                    editedIndex: -1,
                    editedItem: {
                        randid: '',
                        account: '',
                        name: '',
                        nickname: '',
                        img: '',
                        age: '',
                        height: '',
                        size: '',
                        gender: '',
                        place: '',
                        level: '',
                        service: '',
                        sprice: 0,
                        aprice: 0,
                        bprice: 0,
                        video: '',
                        service: '',
                        edate: ''
                    },
                    defaultItem: {
                        // date: '',
                        randid: '',
                        account: '',
                        name: '',
                        nickname: '',
                        img: '',
                        age: '',
                        height: '',
                        size: '',
                        gender: '',
                        place: '',
                        level: '',
                        sprice: 0,
                        aprice: 0,
                        bprice: 0,
                        video: '',
                        service: '',
                        edate: ''
                    },
                    // items: ['處理中', '運送中', '完成'],
                    desserts: [],
                    selectedFile: null
                }),

                computed: {
                    formTitle() {
                        return this.editedIndex === -1 ? '新增表格' : '編輯表格'
                    },
                },

                watch: {
                    dialog(val) {
                        val || this.close()
                    }
                },

                created() {
                    this.initialize()
                },

                methods: {
                    initialize: async function () {
                        let res = await axios.get("./php/order.php")
                        console.log(res.data)
                        for (i in res.data) {
                            res.data[i].OnSale = res.data[i].OnSale == 1 ? true : false
                        }
                        this.desserts = res.data;
                        console.log(this.desserts)

                    },

                    
                    editItem(item) {
                        this.editedIndex = this.desserts.indexOf(item)
                        this.editedItem = Object.assign({}, item)
                        this.dialog = true
                    },

                    deleteItem: async function (item) {
                        const index = this.desserts.indexOf(item)

                        if (confirm('確定要刪除此筆資料嗎?')) {
                            var input = { Id: item.id }
                            let res = await axios.post("./php/delete.php", input);
                            console.log(res.data)
                            alert(`刪除成功`)
                            this.desserts.splice(index, 1)
                        }


                    },
                    test: async function(item){
                        let index = this.desserts.indexOf(item);
                        console.log(item)
                        console.log(typeof item.OnSale)
                        this.desserts[index] = item;
                        console.log(this.desserts)
                        let input = {
                            id: item.id,
                            onsale: item.OnSale? 1:0
                        }
                        console.log(input)
                        let res = await axios.post("./php/onsale.php", input);
                        console.log(res.data)
                        console.log(this.desserts)
                    },

                    close() {
                        this.dialog = false
                        this.$nextTick(() => {
                            this.editedItem = Object.assign({}, this.defaultItem)
                            this.editedIndex = -1
                        })
                    },

                    // save: async function () {
                    //     var rt = ''
                    //     var rs = ''
                    //     if (this.editedIndex > -1) {
                    //         Object.assign(this.desserts[this.editedIndex], this.editedItem)
                    //         let img = this.editedItem.img
                    //         const fd = new FormData();
                    //         fd.append('id',this.editedItem.id);
                    //         fd.append('file', img);
                    //         fd.append('date', this.editedItem.date)
                    //         fd.append("user", this.editedItem.account)
                    //         fd.append("color", this.editedItem.color)
                    //         fd.append("size", this.editedItem.size)
                    //         fd.append("qat", this.editedItem.num)
                    //         fd.append("price", this.editedItem.price)
                    //         fd.append("status", this.editedItem.status)
                    //         fd.append("desc", this.editedItem.note)
                    //         let res = await axios.post("https://fbbot.youcanbemama.com/tworder/update_order.php", fd);
                    //         rs = res.data
                    //         //更新
                    //     } else {
                    //         this.desserts.push(this.editedItem)
                    //         let img = this.editedItem.img
                    //         const fd = new FormData();
                    //         fd.append('file', img);
                    //         fd.append('date', this.editedItem.date)
                    //         fd.append("user", this.editedItem.account)
                    //         fd.append("color", this.editedItem.color)
                    //         fd.append("size", this.editedItem.size)
                    //         fd.append("qat", this.editedItem.num)
                    //         fd.append("price", this.editedItem.price)
                    //         fd.append("status", this.editedItem.status)
                    //         fd.append("desc", this.editedItem.desc)
                    //         let res = await axios.post("https://fbbot.youcanbemama.com/tworder/upload.php", fd);
                    //         //新增商品
                    //         rt = res.data
                    //     }
                    //     this.close()
                    //     if (rt) {
                    //         alert('新增成功')
                    //         window.location.href = 'https://fbbot.youcanbemama.com/tworder/index.html'
                    //     }
                    //     else if(rs) {
                    //         alert('修改成功')
                    //         window.location.href = 'https://fbbot.youcanbemama.com/tworder/index.html'
                    //     }
                    //     else {
                    //         alert('失敗')
                    //         window.location.href = 'https://fbbot.youcanbemama.com/tworder/index.html'
                    //     }

                    // }
                }
            })

        </script>

</body>

</html>